:root{
    --cor1:#ECF0F1;
    --cor2:#9684A1;
    --cor3:#7F9172;
    --cor4:#424242;
    --cor5:#191716;
}

#projetos{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #7F9172;
    margin-bottom: 100px;
}

#projetos h1{
    color: var(--cor2);
    text-align: center;
    margin-bottom: 50px;
}

#projetos #projectContainer{
    display: flex;
    flex-wrap: wrap;
}


#projetos #projectContainer div.item{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px 10px #1917164b;
}

#projetos #projectContainer div.item:hover{
    transform: translateY(10px);
    transition: .8s;
}


#projetos #projectContainer div.item div.img{
    width: 400px;
    z-index: 1;
}


#projetos #projectContainer div.item div.img img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}





#projetos #projectContainer div.item div.legenda{
    z-index: 1;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    height: 200px;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    position: relative;
    place-content: center;
    overflow: hidden;
}

#projetos #projectContainer div.item div.legenda::before{
    content:  "";
    position: absolute;
    width: 400px;
    background-image: linear-gradient(180deg, var(--cor3), var(--cor2));
    height: 130%;
    animation: rotBGimg 5s linear infinite;
    transition: all 0.2s linear;
}


@keyframes rotBGimg {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

#projetos #projectContainer div.item div.legenda::after{
    content: "";
    position: absolute;
    background-color: #424242;
    inset: 2px;
    border-radius: 20px;
}

#projetos #projectContainer div.item div.legenda h2{
    z-index: 1;
    margin-bottom: 20px;
    color: var(--cor2);
    font-weight: bold;
}

#projetos #projectContainer div.item div.legenda p{
    z-index: 1;
    line-height: 1.5em;
}

#projetos #projectContainer div.item a {
    z-index: 1;
}

#projetos #projectContainer div.item .link{
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--cor2);
}

#projetos #projectContainer div.item .link:hover{
    color: var(--cor3);
    transition: .8s;
}


@media (max-width:480px){

    #projetos #projectContainer{
        margin-left: -50px;
    }
}

@media (max-width:450px){

    #projetos #projectContainer{
        margin-left: -50px;
    }

    #projetos #projectContainer div.item div.img{
        width: 350px;
    }


    #projetos #projectContainer div.item div.legenda{
        height: auto;
    }

}


@media (max-width:375px){

    #projetos #projectContainer div.item div.img{
        width: 300px;
    }

}

@media (max-width:325px){

    #projetos #projectContainer div.item div.img{
        width: 250px;
    }
}

@media (max-width:275px){

    #projetos h1{
        font-size: 1.8em;
        margin-left: -40px;
    }

    #projetos #projectContainer div.item div.img{
        width: 200px;
    }
}

@media (max-width:225px){

    #projetos h1{
        font-size: 1.8em;
        margin-left: -40px;
    }

    #projetos #projectContainer div.item div.img{
        width: 180px;
    }
}



#mobileprojectsContainer{
    display: flex;
    flex-wrap: wrap;
}


#mobileprojectsContainer div.item{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
    width: 350px;
    box-shadow: 0px 0px 10px 10px #1917164b;
}

#mobileprojectsContainer div.item div.img{
    width: 350px;
    z-index: 1;
}


#mobileprojectsContainer div.item div.img img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}


#mobileprojectsContainer div.item div.legenda{
    z-index: 1;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    height: 150px;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    position: relative;
    place-content: center;
    overflow: hidden;
}


#mobileprojectsContainer div.item div.legenda h2{
    z-index: 1;
    margin-bottom: 20px;
    color: var(--cor2);
    font-weight: bold;
}

#mobileprojectsContainer div.item div.legenda p{
    z-index: 1;
    line-height: 1.2em;
}

#mobileprojectsContainer div.item a {
    z-index: 1;
}

#mobileprojectsContainer div.item .link{
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--cor2);
}

#mobileprojectsContainer div.item .link:hover{
    color: var(--cor3);
    transition: .8s;
}


@media (max-width:355px){

    #mobileprojectsContainer{
        margin-left: -50px;
    }

    #mobileprojectsContainer div.item div.img{
        width: 250px;
    }

}

@media (max-width:275px){

    #mobileprojectsContainer div.item div.img{
        width: 200px;
    }

    #mobileprojectsContainer div.item div.legenda{
        height: auto;
    }

    #mobileprojectsContainer div.item div.legenda h2{
        font-size: 1em;
    }

}

@media (max-width:225px){

    #mobileprojectsContainer div.item div.img{
        width: 180px;
    }

}

@media (max-width:200px){

    #mobileprojectsContainer div.item div.img{
        width: 150px;
    }
}
